.filmContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filmResult {
  height: 300px;
  width: 200px;
  margin-bottom: 2em;
}

.filmImage {
  height: 13em;
  width: 9em;
  object-fit: cover;
}

/* img {
  width: 100px;
  height: 200px;
} */
