.filmImage {
  height: 365px;
  width: auto;
  object-fit: cover;
}

.filmContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 3em;
  margin-left: 2em;
}

.filmTitle {
  margin-left: 1em;
}

.filmDescription {
  margin-left: 1em;
}
